/*
 * @bot-written
 * 
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 * 
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */
/* --------------------------------
Sidebar
-------------------------------- */
/*
Sidebar that displays information sliding from either left or right side.
Example is a history/audit button.
*/

.sidebar__btn {
	margin: 0 0 0 $admin-space-lg;
}

.sidebar {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba($admin-black, .6);
	top: 0;
	left: 0;
	z-index: $admin-z-index-sidebar;
	@include fadeIn($admin-animation-time);

	&-info {
		background-color: $admin-white;
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		overflow-y: auto;
		min-width: convert-rem(500px);
		width: auto;
		max-width: 40vw;
		display: flex;
		flex-direction: column;
		box-shadow: convert-rem(0px) convert-rem(-1px) convert-rem(5px) convert-rem(0px) $admin-grey-10;
		@include slideInRight($admin-animation-time);

		h2 {
			padding: $admin-space-sm;
			border-bottom: convert-rem(2px) solid $admin-grey-2;
		}

		ul {
			padding: $admin-space-md;
			margin: 0;
		}

		.btn {
			margin: auto auto $admin-space-lg;
		}

		>ul,
		>ol {
			list-style: none;

			>li {
				position: relative;
				padding-left: $admin-space-lg;
			}
		}

		//Give a before class for a timeline look for li elements
		&.sidebar-info__history {
			>ul {
				>li {
					p {
						margin: 0;
						padding: $admin-space-sm 0;
						display: flex;

						.bold {
							font-weight: $admin-text-bold;
							margin-right: $admin-space-sm;
						}

						&:after {
							margin-left: auto;
							color: $admin-grey-2;
						}
					}

					&:hover,
					&:active,
					&:focus,
					&.active {
						p:after {
							color: $admin-color-primary;
							@include transform-timing($admin-animation-time);
						}
					}

					//rotate on expansion of list
					&.active {
						p:after {
							@include rotate($admin-animation-time, 180deg);
							animation-fill-mode: forwards;
						}
					}

					&:before {
						content: '';
						background-color: $admin-grey-2;
						border-radius: 50%;
						height: $admin-space-sm;
						width: $admin-space-sm;
						display: block;
						position: absolute;
						left: 0;
						top: convert-rem(20px);
					}

					&:after {
						content: '';
						border-left: convert-rem(2px) solid $admin-grey-2;
						position: absolute;
						left: convert-rem(7px);
						height: 100%;
						top: convert-rem(21px);
						margin-left: 0;
					}

					&:last-of-type {
						&:after {
							display: none;
						}
					}

					//Sub audits - depth information
					ul {
						list-style: none;
						opacity: 1;
						height: 100%;
						padding: 0;
						@include cubic-bezier-ease-in($admin-animation-time);

						li {
							position: relative;
							padding: .2rem $admin-space-lg;

							&:before {
								content: '';
								background-color: $admin-grey-2;
								border-radius: 50%;
								height: $admin-space-xs;
								width: $admin-space-xs;
								display: block;
								position: absolute;
								left: 0;
								top: convert-rem(13px);
							}

							&:after {
								content: '';
								border-left: convert-rem(2px) solid $admin-grey-2;
								position: absolute;
								left: convert-rem(3px);
								height: 100%;
								top: convert-rem(21px);
							}

							&:last-of-type {
								&:after {
									display: none;
								}
							}
						}

						&.hidden {
							opacity: 0;
							height: 0;
							max-height: 0;
							@include cubic-bezier-ease-in($admin-animation-time);
						}
					}
				}
			}
		}
	}
}